@font-face {
	font-family: ProximaNova;
	src: url(font/ProximaNova-Regular.ttf);
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: ProximaNova;
	color:#000;
}
html{
	background-color: #f7f8fa;
}
.news{
	margin: 0 20%;
	margin-top: 5%;
	background-color: #fff;
	height: 900px;
}