@font-face {
	font-family: ProximaNova;
	src: url(font/ProximaNova-Regular.woff);
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: ProximaNova;
	color:#000;
}
html{
	background-color: #f7f8fa;
}
.news{
	margin: 0 30% 0 20%;
	margin-top: 5%;
	background-color: #fff;
	padding: 2% 2% 2% 2%;
}
.news p{
	line-height: 1.5;
	margin-top: 2%;
	margin-right: 2%;
}
.news h2{
	margin: 20px 0;
	margin-top: 30px;
}
.mainImg{
	background-image: url(img/mainImg.png);
	width: 100%;
	height: 230px;
	background-position: center;
	border-radius: 10px;
	margin: 20px 0;
	background-repeat: no-repeat;
}
.info{
	font-weight: bold;
	text-align: left;
	padding-left: 25px;
	border-left: 2px solid #ff6441;
	color: #353742; 
}
.info cite{
	color: #353742;
}
.secondImg{
	max-height: 290px;
	width: 55%;
	height: 230px;
	background-position: center -80px;
	background-size: cover;
	background-image: url(img/secondImg.png);
	margin: 5% 0;
	border-radius: 5px;
	background-repeat: no-repeat;
}
.news ul{
	margin: 2% 0%;
	margin-bottom: 5%;
}
.news ul li{
	color:#ff6441;
	margin-left: 6%;
	margin-top: 1em; 
}
.news li{
	color: #000;
}