@font-face {
	font-family: ProximaNova;
	src: url(font/ProximaNova-Regular.woff);
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: ProximaNova;
	color:#000;
}
html{
	background-color: #f7f8fa;
}
.news{
	margin: 0 1% 0 15%;
	margin-top: 5%;
	background-color: #fff;
	padding: 2% 2% 2% 2%;
}
.news p{
	line-height: 1.5;
	margin-top: 2%;
	margin-right: 2%;
}
.news h2{
	margin: 20px 0;
	margin-top: 30px;
}
.mainImg{
	background-image: url(img/mainImg.png);
	width: 100%;
	height: 230px;
	background-position: center;
	border-radius: 10px;
	margin: 20px 0;
	background-repeat: no-repeat;
}
.info{
	font-weight: bold;
	text-align: left;
	padding-left: 25px;
	border-left: 2px solid #ff6441;
	color: #353742; 
}
.info cite{
	color: #353742;
}
.secondImg{
	max-height: 290px;
	width: 55%;
	height: 230px;
	background-position: center -80px;
	background-size: cover;
	background-image: url(img/secondImg.png);
	margin: 5% 0;
	border-radius: 5px;
	background-repeat: no-repeat;
}
.news ul{
	margin: 2% 0%;
	margin-bottom: 5%;
}
.news ul li{
	color:#ff6441;
	margin-left: 6%;
	margin-top: 1em; 
}
.news li{
	color: #000;
}
.posts{
	margin-top: 10%;
	margin-right: 5%;
}
#conetnt{
	display: flex;

}
.posts li{
	list-style: none;
	min-width: 260px;
	width: 10%;
	margin-left: 1.5%;
	margin-top: 1.5%;
	min-height: 115px;
	background-color: #fff;
	color:#000;
	
	
}
.post-img{
	height: 130px;
	background-position: center;
	margin-bottom: 15px;
	background-repeat: no-repeat;
	background-size: cover;
	transition-duration: 0.5s;
}
.posts .date{
	color: #999999;
	font-size: 0.8em;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 35px;
	text-align: right;

}
.posts h3{
	font-size: 11pt;
	margin-left: 30px;
	margin-right: 7%;
	min-height: 55px;
}
.posts .post-img{
	background-image: url(img/first-news.png);
}

.posts li:hover h3{
	color: #ff6846;
	text-decoration: underline;

}
.posts li:hover .post-img{
	background-size: 110%;
	transition-duration: 0.5s;
}


@media screen and (max-width:500px){
	.news{
		margin: 0;
	}

	}